<!DOCTYPE html>
<html>
<head>
    <title>Education Management System</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="/class">Class</a></li>
            <li><a href="/subject">Subject</a></li>
            <li><a href="/chapter">Chapter</a></li>
            <li><a href="/topic">Topic</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
